*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* min-width: 100vh; */
    font-size: 1.6rem;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-img {
    width: 500px;
    margin: 0 auto;
}
